:root {
  --bg-color: #20281f;
  --foreground-color: #f2f2f2;
  --button-color: #71f375;

  --spacing-s: 1rem;
  --spacing-m: 2rem;
  --spacing-l: 4rem;

  --border-radius: 1rem;

  --font-family: serif;
  --font-family-sans: sans-serif;
}

body {
  margin: 0;
  padding: 0;

  background-color: #20281f;
}

* {
  box-sizing: border-box;
}